<%= form_with(model: [:admin, creview], local: true) do |form| %>
  <% if creview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creview.errors.count, "error") %> prohibited this creview from being saved:</h2>

      <ul>
      <% creview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :pos_nr %><br>
    <%= form.number_field :pos_nr, id: :creview_pos_nr, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :name %><br>
    <%= form.text_field :name, id: :creview_name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :content %><br>
    <%= form.text_area :content, id: :creview_content, class: 'form-control',rows:"5" %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="actions centered">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
