<%= form_with(model: [:admin, event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-sm-12">
    <div class="form-group">
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :event_title, class: 'form-control' %>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :event_begin %><br>
      <%= form.datetime_select :event_begin, id: :event_event_begin %>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :event_end %><br>
      <%= form.datetime_select :event_end, id: :event_event_end %>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :place %><br>
      <%= form.text_field :place, id: :event_place, class: 'form-control' %>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :maplink %><br>
      <%= form.text_field :maplink, id: :event_maplink, class: 'form-control' %>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :cover_image %><br>
      <%= form.file_field :cover_image, id: :event_cover_image %>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :published_at %><br>
      <%= form.datetime_select :published_at, id: :event_published_at %>
    </div>
    </div>

    <div class="col-sm-12">
    <div class="form-group">
      <%= form.label :event_description %><br>
      <%= form.text_area :event_description, id: :event_event_description, :class => "tinymce", :rows => 10 %>
      <%= tinymce %>
    </div>
    </div>

    <%= form.hidden_field :place_lng, :value => @event.place_lng.present? ? @event.place_lng : 0, id: 'place_lng' %>
    <%= form.hidden_field :place_lat, :value =>  @event.place_lat.present? ? @event.place_lat : 0, id: 'place_lat' %>

  
    <div class="col-sm-12 form-group">
      <div class="pac-card" id="pac-card">
        <div>
          <div id="title">
            Autocomplete search
          </div>
          <div id="type-selector" class="pac-controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Addresses</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
          </div>
          <div id="strict-bounds-selector" class="pac-controls">
            <input type="checkbox" id="use-strict-bounds" value="">
            <label for="use-strict-bounds">Strict Bounds</label>
          </div>
        </div>
        <div id="pac-container">
          <input id="pac-input" type="text"
          placeholder="Enter a location">
        </div>
      </div>
      <%= content_tag :div,'', id: 'map'%>
      <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name"  class="title"></span><br>
        <span id="place-address"></span>
      </div>
    </div>
  

    <div class="col-sm-12">
    <div class="actions centered">
      <%= form.submit class: "btn btn-primary" %>
    </div>
    </div>

  </div>

<% end %>