<%= form_with(model: [:admin, event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :event_begin %>
    <%= form.datetime_select :event_begin, id: :event_event_begin %>
  </div>

  <div class="field">
    <%= form.label :event_end %>
    <%= form.datetime_select :event_end, id: :event_event_end %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :event_place %>
  </div>

  <div class="field">
    <%= form.label :maplink %>
    <%= form.text_field :maplink, id: :event_maplink %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.text_field :cover_image, id: :event_cover_image %>
  </div>

  <div class="field">
    <%= form.label :event_description %>
    <%= form.text_area :event_description, id: :event_event_description %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, id: :event_published_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
