<div class="row">

  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="col-sm-12 aftermargin">
    <%= link_to 'New Event', new_admin_event_path, :class => "btn btn-primary" %>
  </div>
  <div class="col-sm-12">
    <h3>Events</h3>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <% @events.each do |event| %>
        
        <div class="col-sm-4 admin-event-card">
          <div class="row">
            <div class="col-sm-12 centered">
              <%= event.title %>
            </div>
            <div class="col-sm-12 centered">
              <%= link_to event.maplink do %>
                <%= event.place %>
              <% end %>
            </div>
            <div class="col-sm-12 centered"><%= event.event_begin.to_time.strftime('%a, %b %d, %Y %H:%M') %>-
            <%= event.event_end.to_time.strftime('%H:%M') %></div>
            <div class="col-sm-12 centered">
              avaible from:
              <%= event.published_at.to_time.strftime('%a, %b %d, %Y %H:%M') %>
            </div>
            <div class="col-sm-12">
              <%= image_tag event.cover_image.thumb, class: 'eventlist-tmb img-fluid' %>
            </div>
            <div class="col-sm-12 centered">
              <%= link_to 'Show', [:admin, event], :class => "btn btn-primary" %>
              <%= link_to 'Edit', edit_admin_event_path(event), :class => "btn btn-primary" %>
              <%= link_to 'Destroy', [:admin, event], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>