<%= form_with(model: [:admin,budokoncard], local: true) do |form| %>
  <% if budokoncard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budokoncard.errors.count, "error") %> prohibited this budokoncard from being saved:</h2>

      <ul>
      <% budokoncard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-sm-4">

      <div class="form-group">
        <%= form.label :posnr %><br>
        <%= form.number_field :posnr, id: :budokoncard_posnr, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, id: :budokoncard_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :cover %><br>
        <%= form.file_field :cover, id: :budokoncard_cover %>
      </div>

    </div>

    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :description %><br>
        <%= form.text_area :description, id: :budokoncard_description, class: 'form-control', rows:'8' %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="actions centered">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

  <!--div class="field">
    <%#= form.label :posnr %>
    <%#= form.number_field :posnr, id: :budokoncard_posnr %>
  </div>

  <div class="field">
    <%#= form.label :cover %>
    <%#= form.file_field :cover, id: :budokoncard_cover %>
  </div>

  <div class="field">
    <%#= form.label :title %>
    <%#= form.text_field :title, id: :budokoncard_title %>
  </div>

  <div class="field">
    <%#= form.label :description %>
    <%#= form.text_area :description, id: :budokoncard_description %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div-->
