<div class="row">

  <% if notice %>
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  
  <div class="col-sm-12 aftermargin">
    <%= link_to 'New Budokoncard', new_admin_budokoncard_path, :class => "btn btn-primary" %>
  </div>

  <div class="col-sm-12">
    <h3>Budokoncards</h3>
  </div>

  <div class="col-sm-12">
    
    <table class="table table-hover table-responsive table-bordered">
      
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Posnr</th>
          <th>Title</th>
          <th>Cover</th>
        </tr>
      </thead>

      <tbody>
        <% @budokoncards.each do |budokoncard| %>
          <tr>
            <td>
              <%= link_to 'Show', [:admin,budokoncard], :class => "btn btn-primary" %>
              <%= link_to 'Edit', edit_admin_budokoncard_path(budokoncard), :class => "btn btn-primary" %>
              <%= link_to 'Destroy', [:admin,budokoncard], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
            </td>
            <td><%= budokoncard.posnr %></td>
            <td><%= budokoncard.title %></td>
            <td><%= image_tag budokoncard.cover.thumb %></td>
          </tr>
        <% end %>
      </tbody>
      
    </table>

  </div>

</div>
