<div class="row">

	<% if notice %>
		<div class="col-sm-12">
			<p id="notice"><%= notice %></p>
		</div>  
	<% end %>
	
	<div class="col-sm-12 aftermargin">
		<%= link_to 'Edit', edit_admin_budokoncard_path(@budokoncard), :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_budokoncards_path, :class => "btn btn-primary" %>
	</div>

</div>

<div class="row">
	
	<div class="col-sm-12">
		<%= image_tag @budokoncard.cover.cover, :class => "img-fluid" %>
	</div>

	<div class="col-sm-1">
		<p>
			<strong>Posnr:</strong><br>
			<%= @budokoncard.posnr %>
		</p>
	</div>

	<div class="col-sm-11">
		<p>
			<strong>Title:</strong><br>
			<%= @budokoncard.title %>
		</p>
	</div>

	<div class="col-sm-12">
		<p>
			<strong>Description:</strong><br>
			<%= @budokoncard.description %>
		</p>
	</div>

</div>