<div class="navbar-wrap">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to admin_root_path, class: 'navbar-brand' do %>
		Admin Dashboard
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav ml-auto">
          <li class=" nav-item <%= 'active' if current_page?(admin_events_path) %>"><%= link_to 'Events', admin_events_path, class: 'nav-link' %></li>
          <li class=" nav-item <%= 'active' if current_page?(admin_applicants_path) %>"><%= link_to 'Applicants', admin_applicants_path, class: 'nav-link' %></li>
          <li class=" nav-item <%= 'active' if current_page?(admin_creviews_path) %>"><%= link_to 'Reviews', admin_creviews_path, class: 'nav-link' %></li>
          <li class=" nav-item <%= 'active' if current_page?(admin_budokoncards_path) %>"><%= link_to 'BudokonCards', admin_budokoncards_path, class: 'nav-link' %></li>
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to 'Sign out', destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Sign in', new_admin_session_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
</div>