<div id="" class="classes hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption container"><h1>CLASSES</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section <%= 'timetable' if current_page?(classes_path) %>">
	<div class="container">
      
      <% @ttdays.each do |ttday| %>

        <div class="row timetable-day">
          <div class="col-sm-12 col-md-3 col-lg-3 timetable-day-wraps timetable-day-title-wrap centered">
            <div class="timetable-day-title">
              <%= ttday.name %>
            </div>
          </div>
        </div>

        <div class="row timetable-day">
        <% @lessons.each do |lesson| %>
            <% if ttday.id == lesson.ttday_id %>
            
            <div class="col-sm-3 col-md-3 col-lg-3 timetable-day-wraps timetable-day-time-wrap centered">
              <div class="timetable-day-time">
                <%= lesson.time_begin.to_time.strftime('%H:%M') %>
                -
                <%= lesson.time_end.to_time.strftime('%H:%M') %>
              </div>
            </div>
            
            <div class="col-sm-9 col-md-9 col-lg-9 timetable-day-wraps timetable-day-info-wrap">
              <div class="timetable-day-info">
              <%= lesson.title %> - <%= lesson.place %>
              </div>
            </div>

            <%end%>
        <%end%>
        </div>      
      
      <%end%>
      
	</div>
</div>