<div id="" class="classes hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>CLASSES</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content-basemargin">
				<p>Currently I am teaching Budokon and Fitness classes at Agoge Athletic Club in Heerdt, Rundum Yoga in Unterbilk, and in Karmakarma Studio as well as private classes <%= link_to '(check out "services" for more info)', services_path(anchor: 'content-jump'), class: 'inside-link'  %> and workshops international <%= link_to '(more info at “workshops” page)', workshops_path(anchor: 'content-jump'), class: 'inside-link'  %>.</p>
			</div>

			<div class="col-sm-12 aftermargin schedule-card">
				<h3>BDK YOGA</h3>
				<p>This class covers the bdk yoga primary
					series and is suitable for all. I provide a
					range of adjustments and modifications for
					everybody attending, giveing easier and
					more challenging variations to suit each
					individuals level of practice.
				</p>
				<ul class="pull-right">
					<li>Wednesday / 7:45pm <%= link_to "Rundum Yoga", "https://www.rundumyoga.de/", :target => "_blank", class: 'outside-link' %>
					</li>
					<li>Thursday / 8pm <%= link_to "Agoge Athletic Club", "http://www.agoge.de/", :target => "_blank", class: 'outside-link' %>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 aftermargin schedule-card">
			<h3>CARDIO &amp; FUNCTIONAL TRAINING</h3>
				<p>This class uses calisthenic &amp; light weight
exercises including bars, rings, dumbbells,
and animal locomotion to help build a solid
foundation of strength, agility and cardio.

This one hour class will give you a full body
workout and energize you for your day. It is
appropriate for all levels.
				</p>
				<ul class="pull-right">
					<li>Monday / 5 & 6pm <%= link_to "Agoge Athletic Club", "http://www.agoge.de/", :target => "_blank", class: 'outside-link' %>
					</li>
					<li>Thursday / 6 & 7pm <%= link_to "Agoge Athletic Club", "http://www.agoge.de/", :target => "_blank", class: 'outside-link' %>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 aftermargin schedule-card">
			<h3>YOGA BOARD CLASS</h3>
				<p>Yogaboard Class is a full body approach inspired by one of the world’s most athletic sports,
and the benefits are not limited to one field of fitness. This practice draw from the real
movements of surfing to create workouts that build balance, core strength, stability, agility,
aerobic conditioning, power, lean muscle &amp; coordination.  Yogaboard classes are structured
for optimal fat burn, muscle build &amp; improved balance. 90 minutes of surf-inspired
movements structured in intervals to push past plateaus. Now throw in some waves &amp; make
it fun!
				</p>
				<ul class="pull-right">
					<li>Friday / 6pm <%= link_to "Karmakarma", "http://www.karmakarma.de/", :target => "_blank", class: 'outside-link' %>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>