<div id="" class="hero container-fluid">
	
	<div class="home bg row d-xl-none">
        
	</div>
	<div class="row caption-zindex">
		<div class=" caption-wrap">
		
			<div class="caption container">
				<h1>BUILD YOUR<br>BEST BODY</h1>
                <br><br>
                <h3>
                JOIN NOW FOR YOUR <br>
                60 MIN FREE TRIAL
                </h3>
                <br><br>
                <%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
				    <button type="button" class="btn btn-lg btn-outline-secondary pull-right">I AM READY, LET'S GO</button>
			    <% end %>
			</div>
            <div class="bottom-line">
                <h3>
                MOVE RIGHT  ·  EAT SMART  ·  CLEAR MIND
                </h3>
            </div>			
		</div>
        
	</div>
	<div class="row opening-video d-none d-xl-block">
        <%= video_tag(["Atti - Final.mp4"],:autoplay=>'true', :loop=>'true', :muted=>'true',:type=>'video/mp4', :id=>'attilapt-opening-video' ) %>
	</div>
</div>



<div class="content-section">


    <div class="container-fluid section sponsors">
		<div class="row">
		<div class="owl-carousel sponsors-carousel">
				<% @sponsors.each_with_index do |sponsor, index| %>
				<div class="item">
					<div class="logo-wrap">
					<% if sponsor.logo.present? %>
					<%= image_tag sponsor.logo.thumb, class: "logo-thumb img-fluid" %>
					<% else %>
					<p><%= sponsor.name %></p>
					<% end %>
					
					</div>
					
				</div>
			<% end %>
		</div>
	</div>
	</div>

    <div class="container section icon-section">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-4 text-center mb-3">
                <%= image_tag ( "Move.png"), class: " img-fluid mb-3" %>
				<h3>MOVE RIGHT</h3>
				<p>Whether you want to lose weight, gain strength or definition, or work out like an elite athlete, we have a fitness program for you.</p>
			</div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center mb-3">
				<%= image_tag ( "Eat.png"), class: " img-fluid mb-3" %>
				<h3>EAT SMART</h3>
				<p>Discover a simple formula for healthy eating. It’s not a diet and doesn’t banish any food groups, it’s a sensible and enjoyable approach to get great results!</p>
			</div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center mb-3">
                <%= image_tag ( "Think.png"), class: " img-fluid mb-3" %>                
				<h3>CLEAR MIND</h3>
				<p>Identify the emotional, physical, biochemical and electromagnetic stressors in your environment! Live life to its full potential.</p>
			</div>
		</div>
	</div>

	<%= render'front/pages/customer_reviews' %>

	<div class="container-fluid section events-add">
		<div class="row text-center">
				<div class="col-sm-12">
					<h1>MOVE RIGHT<br>MOVEMENT IS FREEDOM</h1>
					<div class="row aftermargin">
						<div class="events-add-carousel owl-carousel">
								<% @events.each do |event| %>
								<div class="item events-card-thumb" style="background:url(<%= event.cover_image.thumb %>)" >
										<div class="events-card-date centered">
											<% if event.event_begin.to_time.strftime('%a') != event.event_end.to_time.strftime('%a') %>
		
												<%= event.event_begin.to_time.strftime('%b') %><br>
												<%= event.event_begin.to_time.strftime('%d') %>-<%= event.event_end.to_time.strftime('%d') %>
		
											<%else%>
												<%= event.event_begin.to_time.strftime('%b') %><br>
												<%= event.event_begin.to_time.strftime('%d') %>
											<%end%>
											
										</div>
								</div>
							<% end %>
						</div>
					</div>
					<%= link_to workshops_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary pull-right">FIND OUT MORE</button>
					<% end %>
				</div>
				
				

		</div>
		

	</div>

	<div class="container-fluid section insta-add">
		<div class="row">
			<div class="col-sm-12 text-center aftermargin">

				<h1><i class="fa fa-instagram"></i> ATTILAPT</h1>
				<p>Follow us on Instagram for regular guidance, tips, recipes and so much more…</p>
				<%= link_to 'https://www.instagram.com/attilapt/', target: "_blank", class: 'button-link' do %>
					<button type="button" class="btn btn-lg btn-outline-secondary pull-right"><i class="fa fa-instagram"></i> FOLLOW US ON INSTAGRAM</button>
				<% end %>
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			<div class="owl-carousel insta-carousel">
				
			</div>
		</div>
	  
		<!-- Modal -->
		<div class="modal fade" id="instaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<script async src="//www.instagram.com/embed.js"></script>
					</div>
					<div class="modal-footer">

					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
	</div>
	
</div>

