<div id="" class="home hero container-fluid d-xl-none" data-stellar-background-ratio="0" >
	
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		
			<div class="caption">
				<h1>ATTILA<br>MOVEMENT TEACHER</h1>
			</div>
			
		</div>
	</div>

</div>

<div class="opening-video d-none d-xl-block">

	<video  autoplay loop muted>
		<source src="images/home/Atti - Final.mp4" type="video/mp4" >
	</video>

</div>

<div class="content-section">

	<div class="container home-bio">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
			<%= image_tag ( "pngavatar.png"), class: "img-fluid aftermargin" %>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12"><p>My name is Attila Gyömrei. I&#39;m a mixed mover, personal trainer,
massage therapist and a genuine waterman from Hungary.
Currently living in Düsseldorf sharing my practice and love for
Budokon. Thank you for taking the time to visit my website.
Below you can find more information about my practice and
work. If you are looking to learn from me directly, check out my services. You can also join me for a 
<%= link_to 'class', classes_path(anchor: 'content-jump'), class: 'inside-link' %> or a 
<%= link_to 'workshop', workshops_path(anchor: 'content-jump'), class: 'inside-link' %>
, where you will experience to sweat, work, play and have fun. If
you want me to come and teach at your studio, or have any
further questions, <%= link_to 'contact me', contacts_path(anchor: 'content-jump'), class: 'inside-link' %>. I hope you find what you&#39;re
looking for.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 centered aftermargin">
				<h3>GET STARTED TODAY</h3>
			</div>	
		</div>
	</div>

	<div class="aftermargin">
		<%= render'front/pages/serviceselect' %>
	</div>
	
	<div class="container-fluid">

		<div class="col-sm-4">
			
		</div>

		<div class="col-sm-4">
			
		</div>

		<div class="col-sm-4">
			
		</div>
		
	</div>

	<%= render'front/pages/customer_reviews' %>

</div>

