<div id="" class="event-hero container-fluid" data-stellar-background-ratio="0.5" style="background:url(<%= @events.cover_image.cover %>)">
	<div class="row">
		<div class="col-sm-12 caption-wrap">
			<div class="caption container"><h3><%= @events.title %></h3>
			</div>
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">

	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="row">
					<div class="col-sm-12 content-basemargin justify">
					<h3 class="color-gold">COURSE DESCRIPTION</h3>
						<p><%= @events.event_description.html_safe %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 offset-md-1 col-sm-8 content-basemargin">
				<div class="row">
					<div class="jumptarget" id="courseapplication-jump"></div>

					<div class="col-sm-12 justify">
						<h3 class="color-gold">COURSE APPLICATION</h3>
					</div>
				</div>
				<%= render 'eventapplicationform' %>			
			</div>
		</div>
	</div>

	
	<%if @events.place_lat != 0 && @events.place_lng != 0%>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 workshop-map-wrap">
				<%= content_tag :div,'', id: 'map', data: {'place-lat': @events.place_lat, 'place-lng': @events.place_lng, 'place-name': @events.place}%>
				</div>
			</div>
		</div>
	<%end%>	
	

</div>