<div id="" class="events hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>FIND OUT WHERE I&#39;LL BE NEXT OR REQUEST ME TO COME AND TEACH AT YOUR STUDIO</h1></div>
			
		</div>
	</div>
</div>

<div class="jumptarget" id="content-jump"></div>

<div class="content-section">

	<div class="container section-content">
		<div class="row events-card">

			<div class="col-sm-4 events-card-thumb" style="background:url(/images/demoevent/event2.jpg)" >
				<div class="row">
					<div class="events-card-date centered">
						JAN <br>
						13
					</div>
				</div>
			</div>

			<div class="col-sm-8 events-card-content">

				<div class="events-card-title color-gold">
					<h3>CALISTHENICS WORKSHOP</h3>
				</div>
				<div class="events-card-p">
					<p>
					Sat, Jan 13, 2018 13:00-14:30 <br>
						Agoge Athletic Club <%= link_to "(map)", "https://www.google.de/maps/place/Agoge+Athletic+Club/@51.2248,6.703216,17z/data=!3m1!4b1!4m5!3m4!1s0x47b8b5ce951f57cb:0x8518fb52a97d570d!8m2!3d51.2248!4d6.70541", :target => "_blank" %>
					</p>
				</div>
				<div class="events-card-nav">
					<div>
					<%= link_to event2_path, class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE DESCRIPTION</button>
					<% end %>
					</div>
					<div>
					<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE APPLICATION</button>
					<% end %>
					</div>
				</div>
				
			</div>

		</div>
	</div>

	<div class="container section-content">
		<div class="row events-card">

			<div class="col-sm-4 events-card-thumb" style="background:url(/images/demoevent/event3.jpg)" >
				<div class="row">
					<div class="events-card-date centered">
						JAN <br>
						27
					</div>
				</div>
			</div>

			<div class="col-sm-8 events-card-content">

				<div class="events-card-title color-gold">
					<h3>BDK YOGA &amp; MOBILITY WORKSHOP</h3>
				</div>
				<div class="events-card-p">
					<p>
					Sat, Jan 27, 2018 15:00-17:00 <br>
						Rundum Yoga <%= link_to "(map)", "https://www.google.de/maps/place/Rundum+Yoga+-+Studio+Unterbilk/@51.2135388,6.7718851,17z/data=!3m1!4b1!4m5!3m4!1s0x47b8ca4002dd38c5:0x584fe44deb497507!8m2!3d51.2135388!4d6.7740791", :target => "_blank" %> 
					</p>
				</div>
				<div class="events-card-nav">
					<div>
					<%= link_to event3_path, class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE DESCRIPTION</button>
					<% end %>
					</div>
					<div>
					<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE APPLICATION</button>
					<% end %>
					</div>
				</div>
				
			</div>

		</div>
	</div>

	<div class="container section-content">
		<div class="row events-card">

			<div class="col-sm-4 events-card-thumb" style="background:url(/images/demoevent/event4.jpg)" >
				<div class="row">
					<div class="events-card-date centered">
						FEB <br>
						3
					</div>
				</div>
			</div>

			<div class="col-sm-8 events-card-content">

				<div class="events-card-title color-gold">
					<h3>NATURAL MOVEMENT WORKSHOP</h3>
				</div>
				<div class="events-card-p">
					<p>
					Sat, Febr 3, 2018 12:00-14:00 <br>
						KARMAKARMA <%= link_to "(map)", "https://www.google.hu/maps/place/karmakarma+Yogastudio/@51.2157487,6.7742724,17z/data=!3m1!4b1!4m5!3m4!1s0x47b8ca3fa50852fb:0xd205559dc09117e0!8m2!3d51.2157487!4d6.7764611", :target => "_blank" %> 
					</p>
				</div>
				<div class="events-card-nav">
					<div>
					<%= link_to event4_path, class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE DESCRIPTION</button>
					<% end %>
					</div>
					<div>
					<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE APPLICATION</button>
					<% end %>
					</div>
				</div>
				
			</div>

		</div>
	</div>

	<div class="container section-content">
		<div class="row events-card">

			<div class="col-sm-4 events-card-thumb" style="background:url(/images/budokon/movement.jpg)" >
				<div class="row">
					<div class="events-card-date centered">
						FEB <br>
						24
					</div>
				</div>
			</div>

			<div class="col-sm-8 events-card-content">

				<div class="events-card-title color-gold">
					<h3>NATURAL MOVEMENT WORKSHOP</h3>
				</div>
				<div class="events-card-p">
					<p>
					Sat, Febr 24, 2018 13:30-16:30 <br>
						The Conscious Club <%= link_to "(map)", "https://www.google.hu/maps/place/The+Conscious+Club/@52.3707018,4.8760187,16z/data=!4m5!3m4!1s0x47c609dc5a4229d3:0x96f3115e40a9046a!8m2!3d52.370876!4d4.8780862", :target => "_blank" %> 
					</p>
				</div>
				<div class="events-card-nav">
					<div>
					<%= link_to event5_path, class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE DESCRIPTION</button>
					<% end %>
					</div>
					<div>
					<%= link_to contacts_path(anchor: 'content-jump'), class: 'button-link' do %>
						<button type="button" class="btn btn-lg btn-outline-secondary">COURSE APPLICATION</button>
					<% end %>
					</div>
				</div>
				
			</div>

		</div>
	</div>

</div>