<div id="" class="home hero container-fluid" data-stellar-background-ratio="0" >
	<div class="row">
		<div class="col-sm-12 caption-wrap">
		<div class="caption"><h1>ATTILA<br>MOVEMENT TEACHER</h1></div>
			
		</div>
	</div>
</div>
<div class="content-section">
	<div class="container home-bio">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
			<%= image_tag ( "pngavatar.png"), class: "img-fluid aftermargin" %>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12"><p>My name is Attila Gyömrei. I&#39;m a mixed mover, personal trainer,
massage therapist and a genuine waterman from Hungary.
Currently living in Düsseldorf sharing my practice and love for
Budokon. Thank you for taking the time to visit my website.
Below you can find more information about my practice and
work. If you are looking to learn from me directly, check out my
<%= link_to 'services', services_path(anchor: 'content-jump'), class: 'inside-link' %> page. You can also join me for a <%= link_to 'class', schedule_path(anchor: 'content-jump'), class: 'inside-link' %> or a <%= link_to 'workshop', events_path(anchor: 'content-jump'), class: 'inside-link' %>,
where you will experience to sweat, work, play and have fun. If
you want me to come and teach at your studio, or have any
further questions, <%= link_to 'contact me', contacts_path(anchor: 'content-jump'), class: 'inside-link' %>. I hope you find what you&#39;re
looking for.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 centered aftermargin">
				<h3>TEACHING IS SIMPLE. COMFORT THE DISTURBED, AND

DISTURB THE COMFORTABLE.</h3>

			</div>	
		</div>
	</div>

	<div id="" class="parallax-section container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/home/goodthings.jpg)">
		<div class="row">
			<div class="col-sm-12 caption-wrap">
				<div class="caption"><h3>GOOD THINGS COME TO THOSE WHO SWEAT.</h3></div>
				
			</div>
		</div>
	</div>
	<div class="container section-content">
		<div class="row">
			<div class="col-sm-12 content-wrap">
				<p>Budokon takes care of everything. It’s very extensive, a lot of stretching, a lot of coordination
of balance exercises. It requires agility and quickness to hit or block a strike, core strength to
get into your animal moves, and stamina to last for an entire yoga flow. I like arm balance,
upside down world and playing with animal movements, and tricky transitions. Expect them
in my classes! The challenge that they offer builds confidence and strength, but more than
anything they are just fun to try.</p>
			</div>
		</div>
	</div>

	<div id="" class="parallax-section container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/home/train.jpg)">
		<div class="row">
			<div class="col-sm-12 caption-wrap">
				<div class="caption"><h3>LET’S TRAIN TOGETHER NOW!</h3></div>
				
			</div>
		</div>
	</div>
	<div class="container section-content">
		<div class="row">
			<div class="col-sm-12 content-wrap">
				<p>My private sessions are carefully designed, taking into consideration not only your goals, but
also your ability level, your understanding of exercise fundamentals, and your realistic level
of commitment.
At the group training I will guide the class through a balanced blend of cardiovascular
training, resistance training and flexibility training, tailoring each segment of the workout to
individual ability level.</p>
			</div>
		</div>
	</div>

	<div id="" class="parallax-section container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/home/relax.jpg)">
		<div class="row">
			<div class="col-sm-12 caption-wrap">
				<div class="caption"><h3>TIME TO RELAX</h3></div>
				
			</div>
		</div>
	</div>
	<div class="container section-content">
		<div class="row">
			<div class="col-sm-12 content-wrap">
				<p>Relaxation is vital to managing stress and the overall health of mind and body.
Through the massage sessions, my goal is to help you relax from the day-to- day
stress we all face, recharge your mind and body, and refresh and renew your
skin.</p>
			</div>
		</div>
	</div>

	<div id="" class="parallax-section container-fluid" data-stellar-background-ratio="0.5" style="background:url(/images/budokon/nutrition.jpg)">
		<div class="row">
			<div class="col-sm-12 caption-wrap">
				<div class="caption"><h3>NUTRITION COACHING</h3></div>
				
			</div>
		</div>
	</div>
	<div class="container section-content">
		<div class="row">
			<div class="col-sm-12 content-wrap">
				<p>What is optimal nutrition?
I will provide you with the education you need to improve your nutritional habits in a
practical, easy-to- incorporate and everlasting manner. Whether your goal is to lose weight, build
muscle, or optimize your health, you have to have the right dietary plan. Without it, even the best
exercise program won’t get you the results you want. Look &amp; feel your best, it just takes a little
knowledge &amp; discipline. Learn what it really means to eat a balanced diet. Discover the hidden
benefits of various foods that we should all be eating every day. Understand what it means to
calorie balance. These are just a few of the many benefits you will experience with my
nutrition coaching, the perfect complement to your fitness program..</p>
			</div>
		</div>
	</div>

</div>

