<%= form_with(model: [:admin,ttday], local: true) do |form| %>
  <% if ttday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ttday.errors.count, "error") %> prohibited this ttday from being saved:</h2>

      <ul>
      <% ttday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
      <%= form.label :pos_nr %><br>
        <%= form.number_field :pos_nr, id: :ttday_pos_nr, class: "form-control" %>  
        <%= form.label :name %><br>
        <%= form.text_field :name, id: :ttday_name, class: "form-control" %>    
      </div>
    </div>

    <div class="col-sm-12 actions centered">
      <%= form.submit class: "btn btn-primary" %>    
    </div>
  </div>
<% end %>
