<div class="row">
  
  <% if notice %>
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
  <% end %>

  <div class="col-sm-12 aftermargin">
    <%= link_to 'New Timetable Day', new_admin_ttday_path, :class => "btn btn-primary" %>
  </div>
  <div class="col-sm-12">
    <h3>Timetable Days</h3>
  </div>

  <div class="col-sm-12">
    <table class="table table-hover table-responsive table-bordered">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Pos nr</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @ttdays.each do |ttday| %>
          <tr>
            <td>
            <%= link_to 'Show', [:admin,ttday], :class => "btn btn-primary" %>
            <%= link_to 'Edit', edit_admin_ttday_path(ttday), :class => "btn btn-primary" %>
            <%= link_to 'Destroy', [:admin,ttday], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
            </td>
            <td><%= ttday.pos_nr %></td>
            <td><%= ttday.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>