<div class="row">

	<% if notice %>
    	<div class="col-sm-12">
    	  	<p id="notice"><%= notice %></p>
    	</div>  
  	<% end %>

	<div class="col-sm-12 aftermargin">
    	<%= link_to 'Edit', edit_admin_ttday_path(@ttday), :class => "btn btn-primary" %>
	    <%= link_to 'Back', admin_ttdays_path, :class => "btn btn-primary" %>
  	</div>

  <div class="col-sm-3">
		<h3>
  			<%= @ttday.pos_nr %>.<%= @ttday.name %>
		</h3>
	</div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="lesson-list-heading">
          <h3>Lessons</h3>
          <%= link_to "Add", new_admin_lesson_path(ttday_value: @ttday.id), remote: true, class: 'lessonModalButton btn btn-warning pull-right','data-toggle':"modal", 'data-target':"#lessonModal"%>
        </div>
        <ul class="list-group">
          <%= render 'admin/lessons/lesson_list' %>
        </ul>
      </div>
    </div>
  </div>


</div>

<!-- MODAL -->
<div id="lessonModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div id="lessonModalContent" class="modal-content lesson-modal container">
      LOADING...
    </div>
  </div>
</div>