<div class="row">
  
  <% if notice %>
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
  <% end %>

  <div class="col-sm-12 aftermargin">
    <%= link_to 'New Applicant', new_admin_applicant_path, :class => "btn btn-primary" %>
  </div>

  <% if @applicants.present? %>
  <div class="col-sm-12">
    <h3>Applicants</h3>
  </div>

  <div class="col-sm-12">

    <table class="table table-hover table-responsive table-bordered">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Event</th>
          <th>Email</th>
          <th>Name</th>
          <th>Country</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <% @applicants.each do |applicant| %>
        <tr>
          <td><%= link_to 'Show', [:admin, applicant], :class => "btn btn-primary" %>
          <%= link_to 'Edit', edit_admin_applicant_path(applicant), :class => "btn btn-primary" %>
          <%= link_to 'Destroy', [:admin, applicant], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
          </td>
          <td>
            <% if applicant.event.nil? %>
          <span class="uppercase">
            deleted event(
            <%= applicant.event_id %>
            )
          </span>
        <%else%>
          <span class="uppercase">
           <%= applicant.event && applicant.event.title %>
        <%end%> 
          </td>
          <td><%= applicant.email %></td>
          <td><%= applicant.last_name %> <%= applicant.first_name %></td>
          <td><%= applicant.country %></td>
          <td><%= applicant.city %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    
  </div>
  <% end %>
  
</div>
