<div class="row">

  <% if notice %>
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>
    </div>  
  <% end %>
  
  <div class="col-sm-12 aftermargin">
    <%= link_to 'Edit', edit_admin_applicant_path(@applicant), :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_applicants_path, :class => "btn btn-primary" %>
  </div>  

  <div class="col-sm-12">
      <p>
        <strong>Event:</strong><br>
        
        <% if @applicant.event.nil? %>
          <span class="uppercase">
            deleted event(
            <%= @applicant.event_id %>
            )
          </span>
        <%else%>
          <span class="uppercase">
           <%= @applicant.event.title %>
          </span><br>
          <%= @applicant.event.event_begin %>
        <%end%>

      </p>
  </div>

  <div class="col-sm-4">
    <p>
      <strong>Name:</strong><br>
      <%= @applicant.first_name %>
      <%= @applicant.last_name %>
    </p>
  </div>

  <div class="col-sm-8">
    <p>
      <strong>Email:</strong><br>
      <%= @applicant.email %>
    </p>
  </div>

  <div class="col-sm-4">
    <p>
      <strong>Country:</strong><br>
      <%= @applicant.country %>
    </p>
  </div>

  <div class="col-sm-8">
    <p>
      <strong>City:</strong><br>
      <%= @applicant.city %>
    </p>
  </div>

  <div class="col-sm-12">
    <p>
      <strong>Mbackground:</strong><br>
      <%= @applicant.mbackground %>
    </p>
  </div>

  <div class="col-sm-12">
    <p>
      <strong>Howfind:</strong><br>
      <%= @applicant.howfind %>
    </p>    
  </div>

  <div class="col-sm-12">
    <p>
      <strong>Certification:</strong><br>
      <%= @applicant.certification %>
    </p>
  </div>
  
  <div class="col-sm-12">
    <p>
      <strong>Thoughts:</strong><br>
      <%= @applicant.thoughts %>
    </p>
  </div>

</div>











