<div class="navbar-wrap">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-transparent navontop">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <p class="logo-text">BDK ATTILA</p>
        <img class="nav-logo" src="/images/bdkllogo.svg">
      <% end %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class=" nav-item <%= 'active' if current_page?(root_path) %>"><%= link_to 'home', root_path, class: 'nav-link' %></li>
        <li class=" nav-item <%= 'active' if current_page?(budokon_path) %>"><%= link_to 'budokon', budokon_path, class: 'nav-link' %></li>
        <li class=" nav-item <%= 'active' if current_page?(attila_path) %>"><%= link_to 'attila', attila_path, class: 'nav-link' %></li>
        <li class=" nav-item <%= 'active' if current_page?(services_path) %>"><%= link_to 'services', services_path, class: 'nav-link' %></li>
        <li class=" nav-item <%= 'active' if current_page?(schedule_path) %>"><%= link_to 'schedule', schedule_path, class: 'nav-link' %></li>
        <li class=" nav-item <%= 'active' if current_page?(events_path) %>"><%= link_to 'events', events_path, class: 'nav-link' %></li>
        <li class=" nav-item <%= 'active' if current_page?(contacts_path) %>"><%= link_to 'contacts', contacts_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
</div>